footer{
    background:$black-color;
    color: $light-color;
    padding-top: 6rem;
    margin-top: 6rem;
    
    .container{
        display: grid;
        grid-template-columns: 24% 24% 24% 24%;
    }
}