footer{
    background:$black-color;
    color: $light-color;
    padding-top: 6rem;
    margin-top: 6rem;
    
    .container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
    }
}